<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>算出プロパティと監視プロパティの比較</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <p>
            firstName: <input type="text" v-model="firstName">
        </p>
        <p>
            lastName: <input type="text" v-model="lastName">
        </p>
        <p>fullName: {{ fullName }}</p>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>